button.accordion {
	background-color: #F88379;
	color: #FFFFFF;
	cursor: pointer;
	padding: 20px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	margin: 1px 0px;
	font-size: 18px;
}

button.accordion.active, button.accordion:hover {
	background-color: #FF6666;
}

button.accordion:after {
	content: "\002B"; /*unicode for + */
	font-size: 20px;
	color: #FFFFFF;
	float: right;
	margin-left: 5px;
}

button.accordion.active:after {
	content: "\2212"; /* unicode for - */
}

div.panel {
	padding: 0 18px;
	background-color: #FFFFFF;
	display: none;
}

/* button stuff for question 1 */

.button-panel {
	width: 80%;
	padding: 30px;
	margin: 0 auto;
}

h3 {
	text-align: center;
}

#button1 {
	float: left;
	font-size: 20px;
}

.buttonText {
	float: left;
	height: 70px;
	width: 60%;
	text-align: center;
	font-size: 20px;
	padding: 0px 20px 15px 20px;
}

#button1Text {
	display: none;
	text-align: left;
}

#button2Text {
	display: none;
	text-align: right;
}

#button2 {
	float: right;
	font-size: 20px;
}

/* question 2 don't hover */

.hoverboard {
	background-image: url('hoverboard.jpg');
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

.hoverboard-content {
	text-align: center;
	padding-top: 240px;
}

.fancy {
	background-color: #FF6666;
	color: #FFFFFF;
}

/* question 3 */

.keypress-holder {
	color: #FF6666;
	text-align: center;
}

/* question 4 */

#submit {
	border: 1px solid black;
	width: 50px;
}












